
*{
    margin: 0;
    padding: 0;
}

body ,html{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

li{
    list-style: none;
}
li:hover{
    font-size: 20px;
    font-weight: bold;
    transform: scale(1.2);
}

:root{
    --h1: #130F49;
    --blue: #34A1CD;
    --dark-purple: #55527C;
    --grey: #B4B2C5;
    --pink: #EA4C89;
    --circle: #F4F3FF;
    --light-pink: #FFF5F6;
    --light-purple: #ADA8FF;
    --light-blue: #E9F9FF;
}

.navbar{
    width: 96%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    height: 60px;
    width: 60px;
}

.nav-list ul, .social-icons ul{
    display: flex;
}

.nav-list ul li, .social-icons ul li{
    margin: 0px 30px;
    color: var(--dark-purple);
    font-size: 18px;
}

.social-icons ul li:hover{
    transform: scale(1.4);
}

.social-icons ul li img{
    height: 20px;
    width: 20px;
}

/* header */
h1{
    color: var(--h1);
    font-size: 35px;
    font-weight: bold;
}

p{
    font-size: 16px;
    color: var(--grey);
    margin: 30px auto;
}

.contact{
    width: 70px;
    text-decoration: none;
    padding: 8px 12px;
    background-color: var(--h1);
    color: whitesmoke;
    border-radius: 25px;
}
.contact:hover{
    background-color: whitesmoke;
    color: var(--h1);
    border: 1px solid var(--h1);
    font-weight: bold;

}

.highlight{
    color: var(--blue);
}


.container{
    width: 80%;
    margin: 60px auto;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    display: flex;
    justify-content: center;
}

.col-1{
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

.col-2{
    width: 100%;
}

.col-2 img{
    max-width: 400px;
    height: 400px;
}

.circle{
    background-color: var(--circle);
    width: 400px;
    height: 400px;
    position: absolute;
    top: -150px;
    right: -150px;
    border-radius: 50%;
    z-index: -1;
}


/* skills */
.title{
    text-align: center;
    margin-bottom: 50px;
}
h3{
    color: var(--grey);
    font-size: 15px;
    font-weight: lighter;
}

h2{
    color: var(--h1);
    font-size: 32px;
    font-weight: bold;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, auto));
    gap: 60px;
    justify-content: space-around;
    align-items: center;
}

.skill-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-title img{
    height: 80px;
    padding: 10px 0px;
    margin-bottom: 15px;
}

.skill-title h3{
    font-size: 16px;
    color: var(--h1);
    font-weight: 600;
}

.grid-box:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.162);
    border-radius: 20px;
    background-color: whitesmoke;
    transform: scale(1.1);
}

/* contact */
.contact-me{
    background-color: var(--light-blue);
    border-radius: 25px;
    padding: 20px;
}

.contact-me *{
    margin: 15px;
}

.contact-email{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-email img{
    height: 100px;
}

.contact-email p a{
    text-decoration: none;
    color: var(--grey);
}

.quick-links{
    margin: 60px 0px 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quick-links ul{
    display: flex;
    justify-content: space-around;
}

.quick-links ul li{
    margin: 0px 45px;
    max-width: 50%;
    color: var(--dark-purple);
    font-weight: bold;
    cursor: pointer;
}

.copyright{
    text-align: center;
    color: var(--dark-purple);
    font-weight: bold;

}
